/* 公共样式 */
 html,
 body {
   font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   min-width: 1200px;
   background-color: #fafafa;
   overflow-y: hidden;
 }

 /* 按钮样式 */
 .large-button {
   width: 100%;
 }
 